@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body {
  background-color: #F5F5F3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  margin-top: 0px;
  padding-top: 20px;
  overflow: visible !important;
}

h1 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 95%;
  margin: 0 auto;
}

a {
  color: #369;
  text-decoration: none;
}

button {
  margin: 2px;
  background: #369;
  color: #fff;
  box-shadow: none;
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
}

button.checked {
  background: #369;
}

button.unchecked {
  background: #ddd;
  color: #999;
}

button.median {
  background: #DC5638;
  margin: 2px 5px 2px 10px;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.container div {
  display: inline-block;
  border: solid 1px #ededed;
  padding: 20px 10px 0px;
}

svg {
  /*padding: 10px;*/
  font-size: 20px;
  cursor: pointer;
}

.col a.median {
  padding-right: 3px;
}

.info {
  cursor: pointer;
  font-size: 10px;
}

.info-modal {
  width: 250px;
  text-align: left;
  font-size: 14px;
}

body.show-median .median-selected {
  fill: #DC5638;
  opacity: 1 !important;
}

.median-selected:nth-child(2) {
  border-left: 0;
}

.median-selected.median-hide {
  /*border: none;*/
  background-color: transparent !important;
}

text {
  font-weight: normal;
  fill: #444;
  font-size: 16px;
}

.viz {
  width: 100%;
  margin: 10px auto 0;
}

.flex {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.col {
  flex: 1;
  padding: 0px 30px 10px 0px;
}

.col p {
  text-align: justify;
}

#filter {
  padding: 0px 0px 10px 30px;
}

#filters p {
  margin-bottom: 7px;
  padding-left: 2px;
}

.modal {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #999;
  -moz-box-shadow: 0 0 10px #999;
  -o-box-shadow: 0 0 10px #999;
  -ms-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  text-align: center;
  max-width: min-content;
  background-color: #F5F5F3;
}

.modal svg {
  zoom: 3;
}

.blocker {
  background-color: rgba(0,0,0,0.25);
}

svg.no-value g {
  visibility: hidden;
}

.line-circle {
  transition: opacity 0.3s;
}

svg.is-filtered .line-circle {
  opacity: 0.1;
}
